* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    
    border: 1px solid black;
    border-radius: 30px;
    max-width: 350px;
    overflow: hidden; /* Ensures img stays within border radius ect */
}

.inner-top-image-wrapper {

}

.hero-img {
    width: 100%;
}
        
.inner-bio-text-card {
    padding: 25px 30px 25px 30px;
}

.btn {
    width: 280px;
    height: 30px;
}