* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
    
    background-color: hsl(225, 100%, 94%);
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left; /* As pattern only covers the top half - background-color fills in the other blank half */
    background-size: 100%;
    }

.card-container {
    border-radius: 30px;
    max-width: 340px;
    overflow: hidden; /* Ensures img stays within border radius ect */
    background-color: white;
    z-index: 10; /* Keeps card container on top of the body background */
}

p {
    font-size: 15.3px;
    text-align: center;
}

.hero-img {
    width: 100%;
}
        
.inner-bio-text-card {
    padding: 25px 30px 25px 30px;
    color: hsl(224, 23%, 55%);
}

.inner-bio-text-card h1 {
    font-weight: 900;
    font-size: 26px;
    padding-bottom: 15px;
    color:hsl(223, 47%, 23%);
    text-align: center;
}

.inner-selected-plan-wrapper {
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 85%;
    margin: auto;
    padding: 12px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;  
}

.inner-selected-plan-wrapper a:hover{
    color: hsl(259, 73%, 43%);
    text-decoration: none;
}

.bold-plan-text {
    font-weight: 700;
}

.price-plan-text {
    color:hsl(223, 47%, 23%);
}

.btn {
    width: 85%;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
}

.btn-proceed {
    margin: 20px 25px 20px 25px;
    background-color: hsl(245, 75%, 52%);
    color: white;
}

.btn-proceed:hover {
    background-color: hsl(259, 73%, 43%);
}

.btn-proceed:hover,
.btn-cancel:hover,
a:hover {
    cursor: grab;
}

.btn-cancel {
    margin: 0px 25px 20px 25px;
    background-color: white;
    color: gray;
}

.btn-cancel:hover {
    color: black;
}

@media screen and (max-width: 600px) {

    body {
        background-image: url('./images/pattern-background-mobile.svg');
    }

    .inner-bio-text-card {
        padding: 25px 38px 25px 38px;
    }

    p {
        font-size: 16px;
    }
}